/* ----------------------------- */
.App .main-section {
  position: relative;
  display: flex;
  margin-top: 13rem;
  justify-content: space-around;
}

.App .main-section .left {
  margin: 0 2.5rem;
  font-size: 9rem;
  font-weight: 100;
  color: #fae392;
  display: grid;
  gap: 5rem;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 10rem 10rem;
  place-items: center;
}

.App .main-section .center {
  font-size: 2rem;
  margin: 0.5rem 5rem;
  text-align: center;
  color: #0b2447;
}

.App .main-section img {
  filter: drop-shadow(2px 7px 14px #0b2447);
}

.btn-start {
  margin: 3rem;
  padding: 2rem 10rem;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  border-color: #4a55a2;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 2px 1px 1px #0b2447;
}

.btn-start:hover {
  background-color: #fae392;
  color: rgb(60, 52, 6);
  border-color: #fae392;
  box-shadow: none;
}

@media (max-width: 1150px) {
  .App .main-section {
    margin-top: 7rem;
  }
}
