.App nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0rem 4rem;
  width: 100wh;
  color: #4a55a2;
}

.App nav ul {
  display: flex;
  list-style: none;
}

.App nav ul li {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.App nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: transform 0.25s ease-out;
  background-color: #ffc95f;
  transition: width 0.3s ease;
}

.App nav ul li:hover::after {
  width: 100%;
}

/* ----------------------------- */
.App .main-section {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.App .main-section .left {
  margin: 0 2.5rem;
  font-size: 9rem;
  font-weight: 100;
  color: #fae392;
  display: grid;
  gap: 5rem;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 10rem 10rem;
  place-items: center;
}

.App .main-section .center {
  font-size: 2rem;
  margin: 0.5rem 15rem;
  text-align: center;
  color: #0b2447;
}

.btn-start {
  margin: 3rem;
  padding: 2rem 10rem;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  border-color: #4a55a2;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 2px 1px 1px #0b2447;
}

.btn-start:hover {
  background-color: #fae392;
  color: rgb(60, 52, 6);
  border-color: #fae392;
  box-shadow: none;
}

/* .............................. */
.whyus {
  background-color: #0b2447;
  padding: 2rem;
}
.whyus .message-box {
  width: 30%;
  font-size: 2rem;
  color: #0b2447;
  background-color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 15px;
}

@media (max-width: 1150px) {
  .App .main-section .left {
    margin: 0 2rem;
    font-size: 7rem;
    gap: 2rem;
  }
  .App .main-section .center {
    margin: 0.5rem 0rem;
  }
}

@media (max-width: 800px) {
  .App .main-section .left {
    z-index: 0;
    position: relative;
    left: 0;
    color: bisque;
  }
  .App .main-section .center {
    z-index: 1;
    margin: 0 -20rem;
    color: #0b2447;
  }
}

.category{
  margin: 2rem;
  text-align: center;
  color: #0b2447;
}